@import "tailwindcss";

:root {
  --foreground: #0a0a0a;
  --background: rgb(239, 239, 239);
  --card: #1c2022;
  --card-secondary: #ffffff;
  --text-secondary: #ffffff;

}

.dark {
  --background: #0a0a0a;
  --foreground: #e8e0e7;
  --card: #212528;
  --card-secondary: #ffffff;
  --text-secondary: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-secondary: var(--card-secondary);
  --font-sans: var(--font-geist-mono); 
  --color-text-secondary: var(--text-secondary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}